# IDE
.idea/

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# CDK Typescript
*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
cdk.context.json
.cdk.staging
cdk.out

# DEV
.env
dist/
